PORT=3000
SITE_URL=https://adegaweb.com.br
SESSION_HOURS=12

MASTER_USER=sheila
MASTER_PASSWORD=troque-esta-senha

POSTGRES_DB=ponto_controle
POSTGRES_USER=ponto_controle
POSTGRES_PASSWORD=troque-esta-senha-do-banco
DATABASE_POOL_SIZE=10

OLIST_API_BASE_URL=https://api.tiny.com.br/api2
OLIST_ERP_API_TOKEN=cole-o-token-api-do-erp-da-olist
OLIST_MAX_PAGES=20

EVOLUTION_BASE_URL=https://evo.guiapj.com.br
EVOLUTION_MANAGER_URL=https://evo.guiapj.com.br/manager
EVOLUTION_GLOBAL_API_KEY=cole-a-chave-global-da-evolution-api
